body{
    margin:0 auto;
    background-color:#f8f8f8;
}

header{
    width:100%;
    height:80px;
    background-color:white;
    box-shadow:2px 2px 4px lightgray;
    text-align:center;
}

header img{
    margin-top:15px;
    height:40px;
    padding-left:40px;
}


main{
    clear:left;
    width:100%;
}

.form_contents{
    margin:0 auto;
    border:lightgray solid 2px;
    width:600px;
    background-color:white;
    border-radius:10px;
    margin-top:40px;
    margin-bottom:40px;
    box-shadow:4px 4px 4px lightgray;
    text-align:center;
}



h2{
    text-align:center;
    border-bottom:solid 1px #31A263;
    font-size:20px;
}

label{
    display:inline-block;
    font-size:13px;
}


.name,.mail,.password,.picture,.comments,.toroku{
    text-align:left;
    margin:25px;
}
/*
.formbox{
    border:1px solid #dfdfdf;
    padding: 5px;
    color:#999;
    background:#fff;
}

*/
.toroku{
    text-align: center;
    margin:25px;
}

form{
    display:inline-block;
}

.fix_button{
    border:lightgray solid 1px;
    padding:6px 60px 4px 60px;
    color:white;
    background-color:lightgray;
    border-radius:5px;
    border-bottom: solid 2px gray;
    width:200px;
    margin-bottom:20px;
}
.submit_button{
    
    border:lightgray solid 1px;
    padding:6px 60px 4px 60px;
    color:white;
    background-color: #31a263;
    border-radius:5px;
    border-bottom: solid 2px gray;
    width:200px;
    margin-bottom:20px;
}

footer{
    position:absolute;
    bottom:0px;
    width:100%;
    height:40px;
    background-color:white;
    color:gray;
    text-align:center;
    line-height:40px;
    font-size:13px;
    border-top:lightgray solid 2px;
}